@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-kiddo);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* 🔸 KIDDO paletė */
  --color-kiddo-text:    #000000; /* pagr. tekstai */
  --color-kiddo-muted:   #64758B; /* antriniai tekstai */
  --color-kiddo-onDark:  #F8FAFC; /* tekstas ant tamsaus BG */

  --color-kiddo-bg:      #FFFFFF; /* pagrindinis BG */
  --color-kiddo-bgSoft:  #FEF7EC; /* minkšti blokai */
  --color-kiddo-card:    #F5F5F5; /* kortelių BG */

  --color-kiddo-accent:  #DF484B; /* akcentai */
  --color-kiddo-brand:   #2463EB; /* mygtukai/checkbox */
  --color-kiddo-btn:   #1E293B; 
}

@layer base {
  body { @apply font-sans font-medium bg-kiddo-bg text-kiddo-text; }
}


html { scroll-behavior: smooth; }

